<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a routerLink="/" class="navbar-brand"><img class="img-fluid" style="max-height: 75px;" src="assets/img/logo.png"/></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/all-advertisements">Annonces</a>
      </li>
      <li class="nav-item" *ngIf="this.isAdmin()">
        <span *ngIf="isAdmin()">
          <a class="nav-link" routerLink="/users">Utilisateurs</a>
        </span>
      </li>
    </ul>

    <div class="align-middle" *ngIf="!isUserLoggedIn()">
      <button type="button" class="btn btn-success" data-toggle="modal" data-target="#signin">Se connecter</button>
      <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#register">S'inscrire</button>
    </div>

    <div class="align-middle" *ngIf="isUserLoggedIn()">
      <div class="navbar-brand align-middle">Bienvenue {{this.user.firstName}} {{this.user.name}} !</div>
      <a routerLink="/new-advertisement" type="button" class="d-inline btn btn-success">Prêter</a>
      <a routerLink="/my-advertisement" type="button" class="d-inline btn btn-success">Mes prêts</a>
      <a routerLink="/profile" type="button" class="d-inline btn btn-success">Mon profil</a>
      <app-logout></app-logout>
    </div>
  </div>
</nav>




