<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a routerLink="/" class="navbar-brand">Accueil</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Annonces</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contacts</a>
      </li>
    </ul>
    <div *ngIf="!isUserLoggedIn()">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#signin">Se connecter</button>
      <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#register">S'inscrire</button>
    </div>
    <div *ngIf="isUserLoggedIn()">
      <p class="navbar-brand">Bienvenue {{user.firstName}} {{user.name}} !</p>
      <a routerLink="/my-advertisement" type="button" class="d-inline btn btn-primary">Mes annonces</a>
      <a routerLink="/new-advertisement" type="button" class="d-inline btn btn-primary">Nouvelle annonce</a>
      <a routerLink="/profile" type="button" class="d-inline btn btn-primary">Mon profil</a>
      <app-logout></app-logout>
    </div>
  </div>
</nav>
<app-login></app-login>
<app-register></app-register>




