<div id="home">
  <div class="searchdiv shadow p-5">
    <h2>Prêtez, louez, trouvez du matériel entre voisins !</h2>

    <form #searchForm="ngForm" class="form-inline" ngNativeValidate (ngSubmit)="search(); searchForm.reset()">
      <input class="form-control w-50" type="text" name="search" required="required" placeholder="Rechercher un bien" [(ngModel)]="title">
      <button type="submit" class="btn">
        <img src="assets/img/search.png" height="30px"/>
      </button>
    </form>
  </div>
</div>
