<div class="container-fluid">
  <h2>Liste des utilisateurs</h2>
  <h3 *ngIf="users.length == 0">Aucun utilisateur n'a été trouvé.</h3>

  <table *ngIf="users.length > 0" class="table table-bordered table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nom</th>
        <th scope="col">Prénom</th>
        <th scope="col">Mail</th>
        <th scope="col">Téléphone</th>
        <th scope="col">Adresse</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let user of users">
        <td>{{user.name}}</td>
        <td>{{user.firstName}}</td>
        <td>{{user.mail}}</td>
        <td>{{user.phoneNumber}}</td>
        <td>{{user.address}}</td>
        <td><button type="button" *ngIf="!userIsAdmin(user)" class="btn btn-danger" (click)=delete(user.id)>Supprimer</button></td>
      </tr>
    </tbody>
  </table>
</div>
