<form id="register" class="modal fade" role="dialog" (ngSubmit)="registration()" ngNativeValidate>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Rejoignez-nous !</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <ul class="list-unstyled form-group">
          <li>
            <label class="col-form-label-lg" for="mailRegister">Email</label>
          </li>
          <li>
            <input type="email" name="mail" class="form-control" id="mailRegister" maxlength="100" required="required" placeholder="exemple@mail.com" [(ngModel)]="mail" />
          </li>
          <li>
            <p id="wrongMail" class="wrong">L'adresse mail rentrée est invalide !</p>
          </li>
          <li>
            <label for="password" class="col-form-label-lg">Mot de passe</label>
          </li>
          <li>
            <input type="password" name="passwod" class="form-control" id="password" maxlength="20" placeholder="motdepasse" required="required" [(ngModel)]="password"/>
          </li>
          <li>
            <p id="wrongPasswordMatchRegister" class="wrong">Le mot de passe doit contenir 1 majuscule, 1 minucule, une caractère numérique,
              un caractère spécial (!, @, $, &, *) et avoir une longueur minimale de 6 ! </p>
          </li>
          <li>
            <label for="passwordConfirm" class="col-form-label-lg">Confirmer le mot de passe</label>
          </li>
          <li>
            <input type="password" name="passwordConfirm" class="form-control"  maxlength="20" id="passwordConfirm" placeholder="motdepasse" required="required" [(ngModel)]="passwordConfirm"/>
          </li>
          <li>
            <p id="wrongPassword" class="wrong">Les deux mot de passe rentrés sont différents !</p>
          </li>
          <li>
            <label for="name" class="col-form-label-lg">Nom</label>
          </li>
          <li>
            <input type="text" class="form-control" name="name" id="name" maxlength="25" placeholder="Nom" required="required" [(ngModel)]="name"/>
          </li>
          <li>
            <p id="wrongName" class="wrong">Seules les lettres sont autorisées !</p>
          </li>
          <li>
            <label for="firstname" class="col-form-label-lg">Prénom</label>
          </li>
          <li>
            <input  type="text" class="form-control" name="firstname" id="firstname" maxlength="25" placeholder="Prénom" required="required" [(ngModel)]="firstname"/>
          </li>
          <li>
            <p id="wrongfirstname" class="wrong">Seules les lettres sont autorisées !</p>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <p>Vous avez déjà un compte ?
          <a href="#" class="text-primary" data-dismiss="modal" data-toggle="modal" data-target="#signin">Connectez-vous !</a>
        </p>
        <input type="submit" id="registerButton" class="btn btn-success" value="S'inscrire">
      </div>
    </div>
  </div>
</form>
