<form id="signin" class="modal fade" method="post" (ngSubmit)="checkLogin()" role="dialog" ngNativeValidate>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Connectez-vous !</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <ul class="list-unstyled form-group">
          <li>
            <label class="col-form-label-lg" for="signinMail" >Email</label>
          </li>
          <li>
            <input type="email" name="mail" class="form-control" id="signinMail" maxlength="100" required="required" placeholder="exemple@mail.com" [(ngModel)]="mail"/>
          </li>
          <li>
            <label for="signinPW" class="col-form-label-lg">Mot de passe</label>
          </li>
          <li>
            <input type="password" name="password" class="form-control" maxlength="20" id="signinPW" placeholder="motdepasse" required="required" [(ngModel)]="password"/>
          </li>
          <li>
            <p id="wrongPasswordMatchLogin" class="wrong">Le mot de passe doit contenir 1 majuscule, 1 minucule, une caractère numérique,
              un caractère spécial (!, @, $, &, *) et avoir une longueur minimale de 6 ! </p>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <p>Vous n'avez pas de compte ?
          <a href="#" class="text-primary" data-dismiss="modal" data-toggle="modal" data-target="#register">Inscrivez-vous !</a>
        </p>
        <input type="submit" id="signinButton" class="btn btn-success" value="Se connecter">
      </div>
    </div>
  </div>
</form>
