<div class="container-fluid">
  <h2 class="col-sm-5">Liste des annonces</h2>
  <h3 class="col-sm-10" *ngIf="ads.length == 0">Aucune annonce n'a été trouvée.</h3>

  <table *ngIf="ads.length > 0" class="table">
    <thead></thead>
    <tr>
      <th scope="col">Intitulé</th>
      <th scope="col">Prix</th>
      <th scope="col">Adresse</th>
    </tr>

    <tbody>
    <tr *ngFor="let ad of ads">
      <td><a [routerLink]="['/advertisement',ad.uuid]">{{ad.title}}</a></td>
      <td>{{ad.price}}</td>
      <td>{{ad.address}}</td>
      <td *ngIf="!ad.validated"><button type="button" class="btn btn-success" (click)=validate(ad.uuid)>Valider</button></td>
      <td *ngIf="this.user.isAdmin()"><button type="button" class="btn btn-danger" (click)=delete(ad.uuid)>Supprimer</button></td>
    </tr>
    </tbody>
  </table>
</div>
